#mainTopic{
    color: blue;
}

*{
    text-align: center;
}

h1,h3,h5{
    font-family: Georgia;
}

p{
    color: white;
    background-color: cornflowerblue;
}

div button{
    background-color: purple;
    color: azure;
}

div button:hover{
    background-color: yellow;
    color: blue;
}

p:nth-of-type(2n-1){
    color: yellow;
}

h1::first-letter{
    color: red;
}

input[type="checkbox"]:checked + label{
    color: darkgreen;
    background-color: yellow;
}

