#box{
    border: 2px solid black;
    height: 200px;
    width: 70px;
    border-radius: 15px;
    padding: 10px;
    margin: 50px;
}

#red{
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    background-color: red;
}

#yellow{
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    background-color: yellow;
}

#green{
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    background-color: green;
}